/* ---------------------------------------- */
/* main, reset */
body  {
	background-color: #f5f5f5;
}
html,
#footer_wrapper  {
	background-color: #9f2d40;
}
#header_wrapper  {
	background-color: #9f2d40;
	background-image: url('../images/bg/bg4.png');
	background-repeat: repeat;
}
html,
body,
form {
	color: #666;
}

/* forms */
input,
textarea,
button,
select,
option {
	color: #888;
}

/* links */
a {
	color: #999;
}
a:hover {
	color: #666;
}

#sidebar a {
	color: #999;
}
#sidebar a:hover {
	color: #666;
}

/* social icons */
#social_icons a img {
	filter: alpha(opacity=50);
	opacity: 0.50;
}
#social_icons a:hover img {
	filter: alpha(opacity=70);
	opacity: 0.70;
}

/* navigation */
#navigation {
	background: rgb(163, 20, 40);
	background: rgba(163, 20, 40, 0.5);
}
.sf-menu a {
	color: #ebbcc3;
}
.sf-menu li:hover a,
.sf-menu li.current-menu-item a,
.sf-menu li.current-page-parent a,
.sf-menu li.current-page-ancestor a  {
	color: #fff;
	border-bottom-color: #96ba5a;
}

.sf-menu li ul {
	border-top-color: #96ba5a;
}
.sf-menu li:hover li a,
.sf-menu li li a,
.sf-menu li.current-menu-item li a,
.sf-menu li.current-page-parent li a,
.sf-menu li li.current-menu-item li a,
.sf-menu li.current-page-ancestor li a {
	color: #888;
	background:	#f5f5f5;
}
.sf-menu li:hover li a:hover,
.sf-menu li li.current-menu-item a {
	color: #c32e44;
	background: #fff;
}

/* ---------------------------------------- */
/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #454a4f;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
	color: #666;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #96ba5a;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: #86a750;
}

/* intro */
#intro {
	color: #999;
}
#intro strong {
	color: #96ba5a;
}
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro h5,
#intro h6 {
	color: #96ba5a;
}
#intro a {
	color: #888;
}

/* ---------------------------------------- */
/* forms */
form input[type="submit"] {
	background-color: #96ba5a;
	color: #fff;
	background-image: url('../images/gradient-btn.png');
}
#search form input[type="submit"] {
	background-color: #888;
	color: #fff;
}

/* ---------------------------------------- */
/* footer */
#footer {
	background-color: #e5e5e5;
	box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02);
}
#footer,
#footer form {
	color: #999;
}
#footer a {
	color: #999;
}

/* copyright */
#copyright {
	background: #777;
	color: #ddd;
	box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02),0 4px 0 rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02),0 4px 0 rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.02),-4px 0 0 rgba(0, 0, 0, 0.02),0 4px 0 rgba(0, 0, 0, 0.02);
}
#copyright a {
	color: #fff;
}

/* ---------------------------------------- */
/* pricing boxes */
.featured-box {
	border-color: #96ba5a !important;
}
.featured-box h3 {
	background: #96ba5a !important;
	color: #fff !important;
}
.featured-box strong {
	color: #96ba5a !important;
}

/* featured */
.nivo-caption,
.kwicks.horizontal p.title {
	background-color: #a31428;
	color: #fff;
}

/* ---------------------------------------- */
/* Featured boxes */
#featured-boxes {
	color: #eee;
	border-top: 4px solid #a31428;
}
#featured-boxes:hover {
	border-top-color: #86a750;
}
#featured-boxes li {
	background-color: #9f2d40;
}
#featured-boxes li.featured-dark {
	background-color: #a31428;
}
#featured-boxes li:hover {
	background-color: #86a750;
}

#featured-boxes h4 {
	color: #fff;
}

#featured-boxes a,
#featured-boxes h4 a {
	color: #fff;
}

/* ---------------------------------------- */
/* widgets */
#sidebar .widgets,
#page-content .widgets {
	color: #666;
	background: #f5f5f5;
	border: 1px solid #eee;
}

#sidebar .widgets h3,
#page-content .widgets h3 {
	color: #666;
}

/* post meta */
.sticky .meta-date {
	background-color: #96ba5a;
}